{% extends "registration/viewport.html" %}

{% block container %}
<div class="card">
    <div class="card-content has-text-centered">
        <p class="is-size-1">👋</p>
    </div>
    <div class="card-footer">
        <a href="{% url 'mailauth:login' %}" class="card-footer-item button is-primary is-outlined is-small">🔙 🔑</a>
    </div>
</div>
{% endblock %}
