{% extends "registration/viewport.html" %}

{% block container %}
<div class="card">
  <div class="card-content content has-text-justified is-small">
    <p id="login-requested">
      Check your email for a message from
      <span class="has-text-weight-bold">login@poquito.zachgarwood.com</span>
      containing a login link.  The login link is only valid for
      <span class="is-italic">15 minutes</span>.
    </p>
  </div>
</div>
{% endblock %}
