{% extends "registration/viewport.html" %}

{% block container %}
<div class="card">
  <div class="card-header">
    <div class="card-header-title has-background-info">
      <h1 class="title">🔑</h1>
    </div>
  </div>
  <div class="card-content">
    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="field">
        <div class="control">
          <input id="id_{{ form.email.html_name }}" name="{{ form.email.html_name }}"
            class="input has-text-black has-background-light is-primary is-small"
            placeholder="email@example.com"
            type="email">
        </div>
        {% if form.email.help_text %}
        <p class="help">{{ form.email.help_text }}</p>
        {% endif %}
        {% if form.email.errors %}
        <p class="help is-danger">
          {{ form.email.errors }}
        </p>
        {% endif %}
      </div>
      <div class="field">
        <div class="control">
          <button type="submit" class="button is-primary is-outlined">
            📧 🔗
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
