{% load compress %}
{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}🖼️{% endblock %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="{% static 'images/favicon.svg' %}">

  {% compress css %}
  <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/index.scss' %}">
  {% endcompress %}

  <script src="https://unpkg.com/htmx.org@1.7.0" crossorigin="anonymous"
    integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo"></script>
  {% compress js %}
  <script src="{% static 'js/notifications.js' %}"></script>
  {% endcompress %}
</head>

<body class="has-navbar-fixed-top"
  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
>
  <!--[if IE]>
    <p class="browserupgrade">
      You are using an <strong>outdated</strong> browser. Please
      <a href="https://browsehappy.com/">upgrade your browser</a> to improve
      your experience and security.
    </p>
  <![endif]-->
  <nav class="navbar is-fixed-top is-light">
    <div class="navbar-brand">
      <a hx-boost="true" class="navbar-item is-size-5" href="/">🤏</a>
      <div class="navbar-item">
        <div class="buttons">
          {% if user.is_authenticated %}
          <a href="{% url 'post-list' %}" class="button is-link is-outlined is-small">🤔</a>
          <a href="{% url 'post-create' %}" class="button is-success is-outlined is-small">🆕</a>
          <a href="{% url 'mailauth:logout' %}" class="button is-danger is-outlined is-small">👋</a>
          {% else %}
          <a href="{% url 'check-email' %}" class="button is-primary is-outlined is-small">🔑</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>

  <main>
    <section id="notification-layer" class="section">
      {# Render notifications server side during reloads #}
      {% for message in messages %}
        <div class="notification has-text-centered is-size-7 {{ message.tags }}">
          <button class="delete"></button>
          {{ message }}
        </div>
      {% endfor %}

      {# Use a <template> to render notifications client side #}
      {# See /static/js/notifications.js #}
      <template id="notification">
        <div class="notification has-text-centered is-size-7">
          <button class="delete"></button>
        </div>
      </template>
    </section>

    <section id="viewport" class="section">
      {% block viewport %}{% endblock %}
    </section>
  </main>
</body>

</html>
