$card-color: $light;
$card-content-background-color: $dark;
$card-content-padding: 0.5rem;
$card-footer-background-color: $light;
$input-background-color: $dark;
$input-color: $danger;
$navbar-padding-vertical: 0;
$section-padding: 0.5rem;
$tabs-link-color: $success;
$tabs-toggle-link-hover-background-color: $success;
