@charset "utf-8";

@import "colors.scss";
@import "config.scss";

@import "bulma-0.9.4/bulma.sass";

html {
    background-color: $background;
    height: 100vh;
    font-size: 2rem;
}
textarea.textarea {
    border: none;
    caret-color: $light;
    padding: 0;
    text-align: center;
}
input.reaction {
    caret-color: $light;
    text-align: center;
}
ul.errorlist {
    color: $danger;
    list-style: none;
}

::placeholder {
    opacity: 1;
}

main {
    position: relative;
}

#notification-layer,
#viewport {
    width: 100%;
}
#notification-layer {
    padding-top: 0;
    position: fixed;
    z-index: 10;
}
#notification-layer:not(:has(.notification)) {
    display: none;
}
.notification {
    margin: 0 auto;
    padding: 1rem;
    width: 80%;

    &:not(:last-child) {
        margin-bottom: 0.5rem;
    }
}
#viewport {
    position: absolute;
}
#login-requested {
    font-size: 0.5rem;
}

.card {
    width: 100%;
}
.card-footer {
    color: $dark;
}
.navbar, .navbar-brand {
    min-height: 0.75rem;
}
.navbar-item {
    padding: 0.5rem;
}
