{% extends "poquito/viewport.html" %}

{% block container %}
<div class="tile is-ancestor">
  <div class="tile is-parent is-4">
    <div class="tile is-child">
      <div class="card">
        <div class="card-content">
          <div class="content">
              <h1 class="header has-text-centered is-size-1">🤏️</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="tile is-ancestor">
  {% for object in object_list %}
  {% if forloop.counter0|divisibleby:3 %}
</div>
<div class="tile is-ancestor">
  {% endif %}
  <div class="tile is-parent is-4">
    <div class="tile is-child">
      {% include "poquito/post_card.html" %}
    </div>
  </div>
  {% empty %}
  <div class="tile is-parent">
    <div class="tile is-child card">
      <div class="media-content">
        <div class="content">
          <p>Nothing to see here</p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
