{% extends "poquito/viewport.html" %}

{% block container %}
<form method="post" hx-boost="true">
  {% csrf_token %}
  <div class="card">
    <div class="card-content p-0">
      <div class="content">
        <div class="lines has-text-centered">{{ object.text|linebreaks }}</div>
      </div>
    </div>
    <div class="card-footer">
      <a href="{% url 'post-detail' object.slug %}" class="card-footer-item button is-link is-outlined is-small">🚫</a>
      <button type="submit" class="card-footer-item button is-danger is-small">🗑️⁉️</button>
    </div>
  </div>
</form>
{% endblock %}
