{% extends "poquito/viewport.html" %}

{% block container %}
<form method="post" hx-boost="true">
  {% csrf_token %}
  <div class="card">
    <div class="card-content p-0">
      <div class="content">
        {{ form.non_field_errors }}
        <div class="field">
          <div class="control">
            {{ form.text }}
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      {% if object.slug %}
      <a href="{% url 'post-detail' object.slug %}" class="card-footer-item button is-link is-outlined is-small">🚫</a>
      {% else %}
      <a href="{% url 'post-list' %}" class="card-footer-item button is-link is-outlined is-small">🚫</a>
      {% endif %}
      <button type="submit" class="card-footer-item button is-success is-small">
        💾
      </button>
    </div>
  </div>
</form>
{% if form.text.errors %}
<div class="is-danger">
  {{ form.text.errors }}
</div>
{% endif %}
{% endblock %}
