<div class="card post-card">
  <div class="card-content p-0">
    <div class="content">
      <div class="lines has-text-centered">{{ post.text|linebreaks }}</div>
      <aside class="is-size-7">
        {% include "poquito/reaction_list.html" with post=post %}
      </aside>
    </div>
  </div>
  <div class="card-footer card-controls">
    {% block controls %}
      <button
        hx-get="{% url 'post-detail' object.slug %}"
        hx-push-url="true"
        hx-select="#viewport"
        hx-swap="outerHTML"
        hx-target="#viewport"
        class="card-footer-item button is-link is-outlined is-small">🔗</button>
      {% if post.user == user %}
          <a href="{% url 'post-update' post.slug %}" class="card-footer-item button is-success is-outlined is-small">✏️</a>
          <a href="{% url 'post-delete' post.slug %}" class="card-footer-item button is-danger is-outlined is-small">🗑️</a>
      {% elif user.is_authenticated %}
          {% if post.user_reactions|first %}
              <button class="card-footer-item button is-danger is-outlined is-small"
                  hx-get="{% url 'reaction-delete' post.slug post.user_reactions.0.id %}"
                  hx-swap="outerHTML"
                  hx-target="closest .post-card"
              >
                  🗑️{{ post.user_reactions|first }}
              </button>
          {% else %}
              <button class="card-footer-item button is-info is-outlined is-small"
                  hx-get="{% url 'reaction-create' post.slug %}"
                  hx-swap="outerHTML"
                  hx-target="closest .post-card"

              >
                  😶
              </button>
          {% endif %}
      {% endif %}
    {% endblock %}
  </div>
</div>
