{% extends "poquito/viewport.html" %}

{% block container %}
<div class="tile is-ancestor">
  {% for object in object_list %}
  {% if not forloop.first and forloop.counter0|divisibleby:3 %}
</div>
<div class="tile is-ancestor">
  {% endif %}
  <div class="tile is-parent is-4">
    <div class="tile is-child">
      {% include "poquito/post_card.html" with post=object%}
    </div>
  </div>
  {% empty %}
  <div class="tile is-parent">
    <div class="tile is-child card">
      <div class="card-content has-text-centered">
        <a href="{% url 'post-create' %}" class="button is-success is-outlined is-size-1">🆕</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
