{% extends "poquito/post_card.html" %}

{% block controls %}
<button type="reset"
  form="unreact"
  class="card-footer-item button is-link is-small"
  hx-get="{% url 'post-card' post.slug %}"
  hx-swap="outerHTML"
  hx-target="closest .post-card"
>
  🚫
</button>
<form id="unreact" class="unreact">
  <button type="submit"
    class="card-footer-item button is-danger is-small"
    hx-post="{% url 'reaction-delete' post.slug object.pk %}"
    hx-swap="outerHTML"
    hx-target="closest .post-card"
  >
    🗑️{{ post.user_reactions|first }}⁉️
  </button>
</form>
{% endblock %}
