{% extends "poquito/post_card.html" %}

{% block controls %}
<button type="reset" form="react"
  class="card-footer-item button is-info is-small"
  hx-get="{% url 'post-card' post.slug %}"
  hx-swap="outerHTML"
  hx-target="closest .post-card"
>
  🚫
</button>
<form id="react" class="react"
  hx-post="{% url 'reaction-create' post.slug %}"
  hx-swap="outerHTML"
  hx-target="closest .post-card"
  hx-trigger="submit"
>
  <input type="text" name="text" required
    {% if form.text.errors %}
      placeholder="{{ form.text.errors|join:', ' }}"
    {% endif %}
    class="card-footer-item input is-small reaction"
    hx-post="{% url 'reaction-create' post.slug %}"
    hx-swap="outerHTML"
    hx-target="closest .post-card"
    hx-trigger="blur changed consume"
  >
</form>
{% endblock %}
